<!DOCTYPE html>
<html ng-app="app">
    <head>  
        <title>Plum Video Player</title>
        <link rel="shortcut icon" href="/favicon.ico" /> 
        <link rel="apple-touch-icon" href="/favicon.ico" />  
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/content/style.css" />
    </head>
    <body ng-controller="RootController as root">
        <div ng-include src="'/partials/navbar.html'" ng-if="root.currentRoute !== '/login'"></div>
        <a class="pull-right" ng-click="base.logOut()">Log Out</a> 
        <div ng-view></div>
        <!--Scripts area -->
        <script type="text/javascript" src="/components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/components/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/components/ngstorage/ngStorage.min.js"></script>
        <script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="/app.js"></script>
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>    