<div class="container">
    <br/>
    <div class="row">
        <div class="col-sm-2"><b>Video URL: </b></div>
        <div class="col-sm-10">{{vm.video.url}}</div>
    </div>
    <br/>   
    <!-- "Search By" row -->
    <div class="row">
        <div class="col-sm-2">
            <b>Search by: </b>
        </div>
        <div class="col-sm-10">
            <label><input type="radio" name="searchBy" ng-model="vm.searchBy" value="onlineVideoId">{{vm.video.mediaType === enums.mediaTypeMovie?'TMDB ID': 'TVDB ID'}}</label>        
            <label><input type="radio" name="searchBy"  ng-model="vm.searchBy" value="title">Title</label>
        </div>       
    </div>
    <br/>   
    <div class="row">
        <div class="col-sm-2">
            <b>{{vm.textboxLabel}}: </b>
        </div>       
        <div class="col-sm-10">
            <label>
                <input class="form-control" type="text" ng-model="vm.searchValue" ng-init="vm.searchValue = 79349">
            </label>
        </div>       
    </div>
    <div class="row"  ng-if="!vm.isSearching">
        <div class="col-sm-12">
            <a class="btn btn-primary" ng-click="vm.search()">Search</a>
        </div>
    </div>
    <div class="row"  ng-if="vm.isSearching">
        <div class="col-sm-12">
            <span class="loading"></span>&nbsp;Fetching video metadata
        </div>
    </div>
    <br/>
    <!-- Search results -->
    <div id="metadataSearchResults">
        Please select the correct video from the results below<br/>
        <div ng-repeat="video in vm.metadataResults" class="row metadata-tile">
            <div class="text-area">
                <b>Title: </b>
                {{video.title}}<br/>
                <b>Plot: </b>
                {{video.plot}}
            </div>
            <img ng-attr-src="{{video.posterUrl}}">
        </div>
    </div>
</div>
