<div id="login-logo-container" class="text-center full-width"><div logo-lg></div></div>
<h2 class="text-center">Sign in</h2>
<form id="login" class="well text-center" ng-submit="vm.logIn()" ng-controller="LoginController as vm">
    <div placeholder-fallback class="pull-left">Email</div>
    <input class="form-control" type="text" ng-model="vm.email" placeholder="Email"/>
    <br/>
    <div placeholder-fallback class="pull-left">Password</div>
    <input class="form-control" type="text" ng-model="vm.password" placeholder="Password"/>
    <br />
    <input type="submit" class="btn btn-primary btn-block" value="Sign in"/>
    {{vm.message}}
</form>