<div class="episode" ng-class="{selected: vm.selected}">
    <div class="blur-screen"></div>
    <div class="season-episode-number">
        Season {{vm.episode.seasonNumber}}, Episode {{vm.episode.episodeNumber}}<br />
    </div>
    <div class="title-info" title="{{vm.episode.title}}">
        {{vm.title}} {{::vm.runtimeText}}
    </div>
    <img ng-attr-src="{{vm.episode.hdPosterUrl}}" />
    <a class="play" ui-sref="play({videoId: vm.episode.videoId, showVideoId: vm.episode.videoId})" title="Play"><span class="glyphicon glyphicon-play-circle"></span></a>
    <a class="info-button" ui-sref="videoInfo({videoId: vm.episode.videoId})"><span class="glyphicon glyphicon-info-sign"></span></a>
</div>