<div id="login-logo-container" class="text-center full-width"><div logo-lg></div></div>
<h2 class="text-center">Sign in</h2>
<form id="login" class="well text-center" ng-submit="vm.logIn()" ng-controller="LoginController as vm">
    <div class="pull-left bold">Email</div>
    <input class="form-control" type="text" ng-model="vm.email" placeholder="Email"/>
    <br/>
    <div class="pull-left bold">Password</div>
    <input class="form-control" type="password" ng-model="vm.password" placeholder="Password"/>
    <br />
    <label class="pull-left"><input type="checkbox" ng-model="vm.rememberMe"/>&nbsp;Remember Me</label>
    <div class="clearfix"></div>
    <div class="text-danger pull-left" ng-show="vm.error !== undefined">*{{vm.error}}</div>
    <input type="submit" class="btn btn-primary btn-block" value="Sign in"/>
</form>