/* 
    Document   : style
    Created on : Jul 3, 2013, 3:17:58 PM
    Author     : bplumb
    Description:
        Purpose of the stylesheet follows.
*/
html, body{
    height:100%;
}
.brand{
    color:purple
}

body{
    padding:0px;
}

.content{
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
}

.tile{
    display:inline-block;
    border:2px solid white;
    cursor:pointer;
    margin: 10px;
    width:205px;
    padding:2px;
}
.tile:hover{
    border:2px solid black;
}
.tile span{
    display:block;
    font-size:20px;
    text-align:center;
}

.tile img{
    width:100%;
    cursor:pointer;
    border:0px solid white;
}
.radio{
    padding-left:0px;
}

.table-sort th.headerSortUp { 
    background-image: url(../img/tablesort/asc.png); 
} 
.table-sort th.headerSortDown { 
    background-image: url(../img/tablesort/desc.png); 
} 
.table-sort th{
    cursor:pointer;
    background-image: url(../img/tablesort/bg.png); 
    padding-left:30px !important;
}

.videoRow .sd{
    height: 80px;
    margin-top:10px;
    max-width: none;
    width:auto;
}
.videoRow .hd{
    height:100px;
    max-width: none;
    width:auto;
}

.tableScrollArea{

}

.table th{
    white-space: nowrap;
}

#logTable{
    width: 100%;
}
#logTable th{
    border-left: 2px solid white;
    borter-right: 2px solid white;
}
#logTable td, #logTable th{
    padding-left:10px;
    padding-right:10px;
}

.tile:hover{
    text-decoration: none;
}