<div>
    <h1>
        <a ui-sref="categories({categoryName: vm.category.name})">
            {{::vm.category.title}} {{vm.getLocationText()}}
        </a>
    </h1>
    <div ng-if="vm.category.videos.length === 0">
        <i>No videos found</i>
    </div>
    <div ng-if="vm.category.videos.length > 0">
        <load-message message="vm.category? undefined: 'Loading'"></load-message>
        <div ng-if="!vm.visibleVideos || vm.visibleVideos.length === 0">No videos found</div>
        <div ng-style="{height: vm.videoTileHeight+10+'px'}" ng-if="vm.visibleVideos.length > 0" class="category-scroller-video-container" ng-swipe-right="vm.pageLeft()" ng-swipe-left="vm.pageRight()" ng-class="vm.direction">
            <a ng-style="{height: vm.videoTileHeight+'px'}" class="btn btn-default navigate navigate-left" ng-click="vm.pageLeft()" ng-if="vm.showPageLeft()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <video-tile video="video" ng-repeat="video in vm.visibleVideos" class="video-tile"></video-tile>
            <div ng-style="{height: vm.videoTileHeight+'px'}" class="btn btn-default navigate navigate-right" ng-click="vm.pageRight()" ng-if="vm.showPageRight()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
    </div>
    <!-- add the first video as a hidden tile so that we always have a way of determine the video-tile's size -->
    <video-tile class="hidden-video" video="vm.category.videos[0]"></video-tile>
</div>