html, body{
    height:100%;
}
.brand{
    color:purple
}
a{
    cursor:pointer;
}
body{
    padding:0px;
    border:0px solid red;
}

#bodyPadding{
    height:50px;
    width:100%;
}

#containerRelativer{
    position:relative;
}
.mless{
    margin:0px;
}

.bold{
    font-weight: bold;
}
.center{
    text-align:center;
    margin:auto;
}
#backToBrowse{
    position:absolute;
    top:0px;
    left:0px;
}

#playTitle{
    margin:0px; 
    padding:0px;
    line-height:0px;
    width:100%;
    display:inline-block; 
    font-size: 15px; 
    text-align:center;
}

#mainNavbar.collapsible{
    top:0px;
    left:0px;
    right:0px;
    position:absolute;
    z-index:10000000;
}

.radio{
    padding-left:0px;
}

.videoRow .sd{
    height: 80px;
    margin-top:10px;
    max-width: none;
    width:auto;
}
.videoRow .hd{
    height:100px;
    max-width: none;
    width:auto;
}

.tableScrollArea{

}

.table th{
    white-space: nowrap;
}

#logTable{
    width: 100%;
}
#logTable th{
    border-left: 2px solid white;
    borter-right: 2px solid white;
}
#logTable td, #logTable th{
    padding-left:10px;
    padding-right:10px;
}

.tile:hover{
    text-decoration: none;
}

input[type=radio], label{
    display:inline;
    line-height:20px;
    margin:0px;
}

#episodeInfo{
    background-color: white;
    border:0px solid black;
    width:500px;
    min-height:250px;
    display:none;
    padding:20px;
    padding-top:7px;
}
#episodeInfo *{
    color:black;
}

.nextEpisodeRow{
    background-color: #ffcccc;
}

.shadow {
    -webkit-box-shadow: 3px 3px 50px 1px #555555;
    box-shadow: 3px 3px 50px 1px #555555;
    /*-moz-box-shadow: 3px 3px 4px #000;*/
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.progressbar{
    width:100px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    background-color:red;
    height:10px;
    margin-left:20px;
    margin-right:10px;
    position:relative;
}

.percentWatched{
    height:100%;
    background-color:green;
    text-align:center;
}

.percentWatchedText{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:transparent;
    text-align:center;
    padding:0px;
    margin:0px;
    font-size: 10px;
    background-color:transparent;
    line-height:10px;

}

#videoInfo{
    float:left;
    display:inline;
}

.playlist{
    list-style-type:none;
    margin:0;
    padding:0;
}

.playlist li{
    float:left;
    cursor:pointer;
    width:160px;
    height:250px;
    border:1px solid black;
    background-color:#DFDFDF;
    text-align:center;
    margin:5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.playlist li h3{
    font-size:20px;
    margin:0px;
    padding:0px;
}

.ui-icon.white { background-image: url(../plugins/jquery-ui-1.10.3.custom/css/dark-hive/images/ui-icons_ffffff_256x240.png); }
.ui-icon.red { background-image: url(../plugins/jquery-ui-1.10.3.custom/css/dark-hive/images/ui-icons_a83300_256x240.png); }
.ui-icon.green { background-image: url(../plugins/jquery-ui-1.10.3.custom/css/dark-hive/images/ui-icons_4b8e0b_256x240.png); }


#playbackFinished{
    width:100%;
    height:100%;
    position:absolute; 
    top:0px;
    left:0px;
    display:none;
    background-color:rgba(255,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
    background-color:white;
}

label{
    width:100px;
}

.error{
    color:red;
}
.categoryScroller{
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin:0px;
    padding:0px;
    border:0px;
}

.genreContainer{
    white-space: nowrap;
}

#bodyRow{
    margin:0px;
    padding-left: 10px;
    padding-right: 10px;
}

#body-col{
    padding:0px;
}
#video-container{
    margin-right:auto;
    margin-left:auto;
    text-align:center;
}
div.video-tile{
    /* display: inline; */
    display: inline-block;
    *zoom: 1;
    *display: inline;
    cursor:pointer;
    margin: 0px;
    width:150px;
    height:220px;
    overflow:hidden;
    padding:0px;
    border: 1px solid transparent;
}
@media (min-width:767px) {
    div.video-tile{
        width:150px;
        height:220px;
    }
}

@media (max-width:767px) {
    div.video-tile{
        width:100px;
        height:146px;
    }
}

div.video-tile img.poster{
    width:100%;
    cursor:pointer;
    border:0px solid white;
}

div.video-tile:hover{
    border:2px solid #CCCCCC;
}

div.video-tile span{
    display:block;
    font-size:20px;
    text-align:center;
}

label, input[type=radio]{
    cursor:pointer;
}

#video-info-row{
}

#video-info-poster-col{
    text-align:center;
}

#video-info-poster{
    margin:auto;
}

.row{
    margin:0px;
    padding:0px;
}

#waitModal .modal-body{
    text-align:center;
}

.modal{
    overflow: auto;
}